<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincenthandoko.rental">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rental">
        <activity
            android:name=".EditProfileDriverActivity"
            android:exported="true" />
        <activity
            android:name=".DataRiwayatDriverActivity"
            android:exported="true" />
        <activity
            android:name=".RiwayatTransaksiDriverActivity"
            android:exported="true" />
        <activity
            android:name=".ListRatingActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileDriverActivity"
            android:exported="true" />
        <activity
            android:name=".DetilDataAsetActivity"
            android:exported="true" />
        <activity
            android:name=".AsetCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".RatingActivity"
            android:exported="true" />
        <activity
            android:name=".DataRiwayatCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".RiwayatTransaksiCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".PromoActivity"
            android:exported="true" />
        <activity
            android:name=".MobilCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".TerkiniActivity"
            android:exported="true" />
        <activity
            android:name=".Laporans2Activity"
            android:exported="true" />
        <activity
            android:name=".Laporan5Activity"
            android:exported="true" />
        <activity
            android:name=".Laporan4Activity"
            android:exported="true" />
        <activity
            android:name=".Laporan3Activity"
            android:exported="true" />
        <activity
            android:name=".Laporan2Activity"
            android:exported="true" />
        <activity
            android:name=".Laporan1Activity"
            android:exported="true" />
        <activity
            android:name=".CustomerActivity"
            android:exported="true" />
        <activity
            android:name=".DriverActivity"
            android:exported="true" />
        <activity
            android:name=".ManagerActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>